$color-light: #f8f9fa;
$color-light2: #e9ecef;
$color-gray-light: #dee2e6;
$color-gray: #ced4da;
$color-gray-dark: #adb5bd;
$color-black: #6c757d;
$color-blue: #007bff;
$color-primary: #00a49b;
$color-primary-light: #ECFDFB;
$color-primary-disabled: #a4c4bb;
$color-secondary: #ffce1a;
$danger: #dc3545;
