$color-light: $gray-100;
$color-light2: $gray-200;
$color-gray-light: $gray-300;
$color-gray: $gray-400;
$color-gray-dark: $gray-500;
$color-black: $gray-600;
$color-blue: $blue;
$color-primary: #04b284;
$color-primary-disabled: #a4c4bb;
$color-secundary: #ffd04d;