<nav
  class="
    navbar
    default-layout-navbar
    col-lg-12 col-12
    p-0
    fixed-top
    d-flex
    flex-row
  "
>
  <!-- ICON -->
  <div
    class="
      text-center
      navbar-brand-wrapper
      d-flex
      align-items-center
      justify-content-center
    "
  >
    <a class="navbar-brand brand-logo" href="#">
      <img
        src="https://www.bootstrapdash.com/demo/purple-admin-free/assets/images/logo.svg"
      />
    </a>
    <a class="navbar-brand brand-logo-mini" href="#">
      <img
        src="https://www.bootstrapdash.com/demo/purple-admin-free/assets/images/logo-mini.svg"
      />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <!-- TOGGLE -->
    <button
      class="navbar-toggler navbar-toggler align-self-center"
      type="button"
      data-toggle="minimize"
      (click)="toggleSidebar()"
    >
      <i class="mdi mdi-menu"></i>
    </button>

    <!-- OPTIONS -->
    <ul class="navbar-nav navbar-nav-right">
      <!-- PROFILE -->
      <li class="nav-item nav-profile dropdown" ngbDropdown>
        <a
          class="nav-link dropdown-toggle"
          id="profileDropdown"
          ngbDropdownToggle
        >
          <div class="nav-profile-img">
            <img [src]="user.image" alt="image" />
            <span class="availability-status" [ngClass]="loginStatus$ | async"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1">{{ user.name }}</p>
          </div>
          <i class="mdi mdi-chevron-down pl-2 text-primary"></i>
        </a>

        <div
          class="dropdown-menu navbar-dropdown"
          ngbDropdownMenu
          aria-labelledby="profileDropdown"
        >
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" (click)="signOut()">
            <i class="mdi mdi-power mr-2 text-primary"></i>
            Cerrar sesión
          </a>
        </div>
      </li>
    </ul>
    <!-- TOGGLE RESPONSIVE -->
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      (click)="toggleOffcanvas()"
    >
      <i class="mdi mdi-menu"></i>
    </button>
  </div>
</nav>
