<div class="d-flex flex-wrap">
  <ng-container *ngFor="let category of categories; let i = index">
    <button
      *ngIf="showCard(category)"
      class="px-1 card-category mb-3"
      mat-flat-button
      [class.col-12]="categories.length < 6"
      [class.col-4]="categories.length >= 6"
      [ngStyle]="{ 'background-image': 'url(' + category.image + ')' }"
      (click)="clickEvent.emit(category)"
    >
      <div class="py-1 px-3 rounded bg-black-opcaity">
        <h2 class="font-weight-bold m-0" [class.h-100]="!category.image">
          {{ category.description }}
        </h2>
      </div>
    </button>
  </ng-container>
</div>
