@import '../../../../assets/scss/variables.scss';

.container-search {
  top: 0;
  background-color: white;
  z-index: 2;
}

.container-products {
  overflow: auto;
  margin-top: 5rem;
  z-index: 1;
}
