@import '../../../../assets/scss/variables.scss';

.img-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  transition: 0.8s;
  width: 100%;
}

.lbl-header {
  font-size: 13px;
  line-height: 19px;
  display: block;
}

.counter-container {
  border: 1px solid $color-primary;
  border-radius: 50px;
  height: 48px;
  width: 112px;
}

.counter-icon {
  font-size: 24px;
  color: $color-primary;
}
