<div class="container-scroll-x container-scroll-y p-4 text-small">
  <div class="pb-3"><eu-icon-title></eu-icon-title></div>
  <table class="table table-rounded bg-light">
    <thead>
      <tr>
        <th class="text-muted">ID</th>
        <th class="text-muted">COMERCIO</th>
        <th class="text-muted">HABILITADO</th>
        <th class="text-muted"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commerce of commerces">
        <td class="">
          {{ commerce.id }}
        </td>
        <td>
          {{ commerce.name }}
        </td>
        <td>
          <i
            class="mdi"
            [class.mdi-check-bold]="commerce.enabled"
            [class.text-success]="commerce.enabled"
            [class.mdi-close-thick]="!commerce.enabled"
            [class.text-danger]="!commerce.enabled"
          ></i>
        </td>
        <td>
          <button mat-icon-button (click)="editCommerce(commerce.id)">
            <i class="mdi mdi-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
