<eu-loader *ngIf="showLoader | async"></eu-loader>
<eu-navbar *ngIf="userLoggeg$ | async" class="eu-navbar"></eu-navbar>
<div class="container-fluid page-body-wrapper">
  <!-- SIDEBAR-->
  <eu-sidebar *ngIf="userLoggeg$ | async" class="eu-sidebar"></eu-sidebar>
  <!-- MAIN PANEL -->
  <div class="main-panel" [ngClass]="{ 'w-100': fullPage }">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="app-version position-fixed" style="z-index: 1000">
  V-{{ version }}
</div>
