<div class="container-scroll-y p-4">
  <div class="pb-3"><eu-icon-title></eu-icon-title></div>
  <div class="card d-flex flex-column border-0">
    <form
      class="row p-3"
      [formGroup]="formGroup"
      (ngSubmit)="
        formGroup.invalid ? formGroup.markAllAsTouched() : onSaveOrUpdate()
      "
    >
      <label class="form-group col-12">Información básica</label>
      <div class="form-group col-sm-12 col-xl-3">
        <input
          class="form-control"
          formControlName="name"
          placeholder="Nombre"
          (blur)="formGroup.controls.name.markAsTouched()"
        />
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <input
          class="form-control"
          formControlName="documentNo"
          placeholder="Nro. Documento"
          type="text"
          (blur)="formGroup.controls.documentNo.markAsTouched()"
        />
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <input
          class="form-control"
          formControlName="mail"
          placeholder="Correo"
          type="email"
          (blur)="formGroup.controls.mail.markAsTouched()"
        />
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <input
          class="form-control input-number"
          formControlName="phone"
          placeholder="Teléfono"
          type="number"
          (blur)="formGroup.controls.phone.markAsTouched()"
        />
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <input
          class="form-control"
          formControlName="url"
          placeholder="Url"
          type="text"
          (blur)="formGroup.controls.url.markAsTouched()"
        />
      </div>
      <div
        class="
          form-group
          custom-control custom-checkbox
          col-sm-12 col-xl-3
          d-flex
          align-items-center
        "
      >
        <input
          id="enabled"
          formControlName="enabled"
          type="checkbox"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="enabled">Habilitado</label>
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <input
          class="form-control"
          formControlName="duration"
          placeholder="Duración"
          type="text"
          (blur)="formGroup.controls.duration.markAsTouched()"
        />
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <input
          class="form-control"
          formControlName="rate"
          placeholder="Valoración"
          type="text"
          (blur)="formGroup.controls.rate.markAsTouched()"
        />
      </div>
      <div class="form-group col-sm-12 col-xl-6">
        <mat-form-field class="w-100">
          <mat-label>Categorías/Palabras clave</mat-label>
          <mat-chip-list #chipWords>
            <mat-chip
              *ngFor="let word of words"
              selectable
              [removable]="removable"
              (removed)="removeWord(word)"
            >
              {{ word }}
              <i
                matChipRemove
                *ngIf="removable"
                class="mdi mdi-close-circle"
              ></i>
            </mat-chip>
            <input
              placeholder="Nueva palabra..."
              [matChipInputFor]="chipWords"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addWord($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div class="form-group col-sm-12 col-xl-6">
        <mat-form-field class="w-100">
          <mat-label>Secciones productos</mat-label>
          <mat-chip-list #chipSections>
            <mat-chip
              *ngFor="let section of sections"
              selectable
              [removable]="removable"
              (removed)="removeSection(section)"
            >
              {{ section }}
              <i
                matChipRemove
                *ngIf="removable"
                class="mdi mdi-close-circle"
              ></i>
            </mat-chip>
            <input
              placeholder="Nueva sección..."
              [matChipInputFor]="chipSections"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addSection($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </div>
      <label class="form-group col-12">Métodos de pago</label>
      <div class="form-group col-sm-12 col-xl-3">
        <select #paymentMethodType class="form-control w-100">
          <option value="null" disabled selected>
            Seleccione un método de pago
          </option>
          <option value="1">Transferencia</option>
          <option value="2">Pago móvil</option>
        </select>
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <input
          #accountName
          class="form-control"
          placeholder="Nombre del banco"
          type="text"
        />
      </div>
      <div class="form-group col-sm-12 col-xl-6">
        <input
          #accountNumber
          class="form-control input-number"
          placeholder="Nro. cuenta"
          type="number"
        />
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <input
          #ownerName
          class="form-control"
          placeholder="Titular"
          type="text"
        />
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <select #docType class="form-control w-100">
          <option [value]="null" disabled selected>
            Seleccione tipo de document
          </option>
          <option [value]="docType.id" *ngFor="let docType of documentTypes">
            {{ docType.description }}
          </option>
        </select>
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <input
          #ownerDocument
          class="form-control input-number"
          placeholder="Nro documento"
          type="number"
        />
      </div>
      <div class="form-group col-sm-12 col-xl-3">
        <button
          class="
            btn btn-primary btn-rounded
            m-auto
            col-sm-12 col-xl-2
            d-flex
            align-items-center
            justify-content-center
          "
          style="height: 2.4rem"
          type="button"
          [disabled]="
            paymentMethods.length === 999 ||
            !paymentMethodType.value ||
            !accountName.value ||
            !accountNumber.value ||
            !ownerName.value ||
            !docType.value ||
            !ownerDocument.value
          "
          (click)="
            addPayment(
              paymentMethodType.value,
              accountName.value,
              accountNumber.value,
              ownerName.value,
              docType.value,
              ownerDocument.value
            )
          "
        >
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
      <div class="form-group col-12">
        <table
          *ngIf="paymentMethods.length > 0"
          class="table table-rounded bg-light"
        >
          <thead>
            <tr>
              <th scope="col" class="text-muted">TIPO</th>
              <th scope="col" class="text-muted">BANCO</th>
              <th scope="col" class="text-muted">CUENTA</th>
              <th scope="col" class="text-muted">TITULAR</th>
              <th scope="col" class="text-muted">T. DOC.</th>
              <th scope="col" class="text-muted">DOCUMENTO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paymentMethod of paymentMethods">
              <td>
                {{ paymentMethod.type | paymentMethod }}
              </td>
              <td>
                {{ paymentMethod.accountName }}
              </td>
              <td>
                {{ paymentMethod | accountNumber }}
              </td>
              <td>
                {{ paymentMethod.ownerName }}
              </td>
              <td>
                {{ paymentMethod.ownerDocType }}
              </td>
              <td>
                {{ paymentMethod.ownerDocument }}
              </td>
              <td>
                <button
                  mat-icon-button
                  class="text-primary"
                  (click)="deletePaymentMethod(paymentMethod)"
                >
                  <i class="mdi mdi-delete"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <label class="form-group col-12">Ubicación</label>
      <div class="form-group col-12">
        <eu-map #map [positionLoaded]="geoposition" (positionEvent)="geoposition = $event"></eu-map>
      </div>
      <div class="d-flex flex-row w-100 justifu-content-center px-3">
        <button
          type="submit"
          class="btn btn-primary btn-rounded m-auto col-sm-12 col-xl-4"
        >
          Agregar
        </button>
      </div>
    </form>
  </div>
</div>
