@import '../../../assets/scss/variables.scss';

.sidebar {
  min-height: calc(100vh - 70px);
  background: #ffffff;
  padding: 0;
  width: 260px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    &:not(.sub-menu) {
      padding-bottom: 60px;
    }
    .nav-item {
      padding: 0 36px;
      transition-duration: 0.25s;
      transition-property: background;
      -webkit-transition-property: background;
      .collapse {
        z-index: 999;
      }
      .nav-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 18px 0 18px 0;
        color: $color-black;
        transition-duration: 0.45s;
        transition-property: color;
        -webkit-transition-property: color;
        cursor: pointer;
        i {
          &.menu-icon {
            color: $color-primary-disabled;
            font-size: 18px;
            line-height: 1;
            margin-left: auto;
            .rtl & {
              margin-left: 0;
              margin-right: auto;
            }
            &:before {
              vertical-align: middle;
            }
          }
          &.menu-arrow {
            font: normal normal normal 24px/1 'Material Design Icons';
            line-height: 1;
            font-size: 18px;
            margin-left: auto;
            .rtl & {
              margin-left: 0;
              margin-right: auto;
            }
            color: $color-primary-disabled;
            &:before {
              content: '\f0141';
              font-size: inherit;
              color: inherit;
            }
            + .menu-icon {
              margin-left: 4px;
              margin-bottom: 4px;
              .rtl & {
                margin-left: 0;
                margin-right: 4px;
              }
            }
          }
        }
        .menu-title {
          display: inline-block;
          font-size: 14px;
          line-height: 1;
          vertical-align: middle;
        }
        .badge {
          margin-right: auto;
          margin-left: 16px;
        }
        &[aria-expanded='true'] {
          .menu-arrow {
            &:before {
              content: '\F0140';
            }
          }
        }
        &:hover {
          color: $color-light2;
        }
      }
      &.active {
        background: #ffffff;
      }
      &.active > .nav-link {
        .menu-title {
          color: $color-primary;
        }
        i {
          color: $color-primary;
        }
      }
      &.nav-profile .nav-link {
        height: auto;
        line-height: 1;
        border-top: 0;
        padding: 20px 0;
        .nav-profile-image {
          position: relative;
          width: 44px;
          height: 44px;
          img {
            width: 44px;
            height: 44px;
            border-radius: 100%;
          }
          .login-status {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            border: 2px solid #ffffff;
            bottom: 5px;
            right: -5px;
            &.online {
              background: #1bcfb4;
            }
            &.busy {
              background: #fe7c96;
            }
            &.offline {
              background: #fed713;
            }
          }
        }
        .nav-profile-text {
          margin-left: 16px;
        }
        .nav-profile-badge {
          font-size: 18px;
          margin-left: auto;
        }
      }
      &:hover {
        background: $color-light;
      }
    }
    &.sub-menu {
      margin-bottom: 20px;
      margin-top: 0;
      list-style: none;

      .nav-item {
        padding: 0;
        .nav-link {
          padding: 12px 32px 12px 32px;
          position: relative;
          font-size: 13px;
          line-height: 1;
          height: auto;
          border-top: 0;
          &:before {
            content: '\F054';
            font-family: 'Material Design Icons';
            display: block;
            position: absolute;
            left: 0px;
            .rtl & {
              left: auto;
              right: 0;
            }
            top: 50%;
            transform: translateY(-50%);
            font-size: 12px;
          }
          &.active {
            color: $color-primary;
            background: transparent;
          }
          &:hover {
            color: $color-light2;
          }
        }
        &:hover {
          background: transparent;
        }
      }
    }
  }
}

// Sidebar icon only layout start
:host-context(.sidebar-icon-only) {
  @media (min-width: 992px) {
    .sidebar {
      width: 70px;
      .nav {
        overflow: visible;
        margin-left: 0;
        margin-right: 0;
        .nav-item {
          padding: 0 16px;
          position: relative;
          .nav-link {
            display: block;
            padding-left: 8px;
            padding-right: 8px;
            text-align: center;
            position: static;
            .menu-title,
            .badge,
            .menu-sub-title {
              display: none;
            }
            .menu-title {
              border-radius: 0 5px 5px 0px;
              background: $color-light;
            }
            i {
              &.menu-icon {
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 0;
              }
              &.menu-arrow {
                display: none;
              }
            }
            &[aria-expanded] {
              .menu-title {
                border-radius: 0 5px 0 0px;
              }
            }
          }
          .collapse {
            display: none;
          }
          &.hover-open {
            .nav-link {
              .menu-title {
                display: flex;
                align-items: center;
                background: $color-light;
                padding: 8px 22px;
                left: 70px;
                position: absolute;
                text-align: left;
                top: 0;
                bottom: 0;
                width: 190px;
                z-index: 1;
                line-height: 1.8;
                -webkit-box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
                box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
                &:after {
                  display: none;
                }
              }
            }
            .collapse,
            .collapsing {
              display: block;
              background: $color-light;
              border-radius: 0 0 5px 0;
              position: absolute;
              left: 70px;
              width: 190px;
              -webkit-box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
              box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
            }
          }
          &.nav-profile {
            padding: 0 5px;
            display: none;
            .nav-link {
              .nav-profile-text {
                display: none;
              }
              .nav-profile-badge {
                display: none;
              }
            }
          }
        }
        &:not(.sub-menu) {
          .nav-item {
            &.active {
              border-radius: 0;
            }
            &:hover {
              .nav-link {
                border-radius: 0;
              }
            }
          }
        }
        &.sub-menu {
          padding: 0 0 0 24px;
          .nav-item {
            .nav-link {
              text-align: left;
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}
// Sidebar icon only layout end

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -260px;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    &.active {
      right: 0;
    }
  }
}
