<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img [src]="user.image" alt="profile" />
          <span class="login-status" [ngClass]="loginStatus$ | async"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">{{ user.name }}</span>
          <span class="text-muted text-small text-primary-light">
            {{ user.username }}
          </span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>

    <li class="nav-item" [ngClass]="{ active: orders.isActive }">
      <a
        class="nav-link"
        routerLink="/partner/orders"
        routerLinkActive
        #orders="routerLinkActive"
      >
        <span class="menu-title">Ordenes</span>
        <i class="mdi mdi-format-list-bulleted-type menu-icon"></i>
      </a>
    </li>

    <li
      class="nav-item"
      [ngClass]="{ active: adminCommerces.isActive || listCommerces.isActive }"
    >
      <a
        class="nav-link"
        (click)="commerceCollapsed = !commerceCollapsed"
        [attr.aria-expanded]="commerceCollapsed"
      >
        <span class="menu-title">Adm. comercios</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-store menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!commerceCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/partner/list_commerces"
              routerLinkActive="active"
              #listCommerces="routerLinkActive"
            >
              <span class="menu-title">Comercios</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/partner/admin_commerce"
              routerLinkActive="active"
              #adminCommerces="routerLinkActive"
            >
              <span class="menu-title">Nuevo comercio</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item" [ngClass]="{ active: adminProduct.isActive }">
      <a
        class="nav-link"
        routerLink="/partner/admin_product"
        routerLinkActive
        #adminProduct="routerLinkActive"
      >
        <span class="menu-title">Adm. prodctos</span>
        <i class="mdi mdi-package-variant-closed menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
