<div class="w-100 position-fixed header-shadow" style="z-index: 2">
  <div class="p-3 img-header" [ngStyle]="headerStyle">
    <div class="d-flex flex-row justify-content-between">
      <button
        mat-fab
        class="d-flex align-items-center justify-content-center btn-back"
        (click)="goBack()"
      >
        <mat-icon
          class="
            mdi mdi-arrow-left
            d-flex
            align-items-center
            justify-content-center
          "
        ></mat-icon>
      </button>
      <form class="w-100 pl-3">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1" style="height: 38px">
            <i class="mdi mdi-magnify"></i>
          </span>
          <input
            name="search"
            placeholder="Buscar producto"
            class="form-control input-search"
            style="height: 38px"
            [formControl]="searchProduct"
          />
        </div>
      </form>
    </div>

    <div
      *ngIf="
        !showCategory &&
        selectedCategory &&
        selectedCategory.subCategories &&
        selectedCategory.subCategories.length > 0 &&
        titleCommerce.opacity === 0
      "
      style="overflow-x: auto; overflow-y: hidden"
    >
      <div style="white-space: nowrap">
        <ng-container
          *ngFor="
            let subCategory of selectedCategory.subCategories;
            let i = index
          "
        >
          <div
            *ngIf="showSubCategory(i)"
            class="p-1 pt-2"
            style="display: inline-block"
          >
            <button
              mat-flat-button
              color="accent"
              (click)="scrollTo('link' + i)"
              [ngClass]="{ subCategory: subCategory === 'link' + i }"
              style="border-radius: 15px"
            >
              {{ subCategory.description }}
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div
      *ngIf="
        !selectedCategory &&
        categories &&
        categories.length > 0 &&
        titleCommerce.opacity === 0
      "
      style="overflow-x: auto; overflow-y: hidden"
    >
      <div style="white-space: nowrap">
        <ng-container *ngFor="let category of categories; let i = index">
          <div
            *ngIf="showSubCategory(i)"
            class="p-1"
            style="display: inline-block"
          >
            <button
              mat-flat-button
              color="accent"
              (click)="scrollTo('link' + i)"
              [ngClass]="{ category: category === 'link' + i }"
              style="border-radius: 15px"
            >
              {{ category.description }}
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div
  class="
    w-100
    d-flex
    flex-column
    position-relative
    px-2
    pt-3
    category-container
  "
  style="margin-top: 80px; padding-top: 20px; padding-bottom: 160px"
  [ngStyle]="{ 'z-index': zIndex }"
>
  <div
    class="pb-2"
    [ngStyle]="titleCommerce"
    style="transition: all 0.4s ease-in-out"
  >
    <div class="px-1 d-flex flex-column justify-content-between">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row">
          <h3 class="font-weight-bold m-0">{{ commerce.name }}</h3>
          <span class="pl-2 font-weight-bold" style="font-size: 17px">
            {{ commerce.rate }}
            <mat-icon
              class="mdi mdi-star text-secondary"
              style="font-size: 17px"
            ></mat-icon>
          </span>
        </div>
        <div class="px-1 d-flex flex-row text-small mb-3">
          <div>{{ commerce.duration }} min</div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-center">
        <mat-form-field *ngIf="selectedCategory" class="col-6 p-0 pr-3">
          <mat-label>Categoría</mat-label>
          <mat-select
            [(ngModel)]="selectedCategory"
            (ngModelChange)="onClickCategory()"
          >
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedCategory" class="col-6 p-0">
          <mat-label>Ordenar</mat-label>
          <mat-select
            [(ngModel)]="selectedOrder"
            (ngModelChange)="orderProducts()"
          >
            <mat-option [value]="1"> Alfabéticamente: A-Z </mat-option>
            <mat-option [value]="2"> Alfabéticamente: Z-A </mat-option>
            <mat-option [value]="3"> Menor precio </mat-option>
            <mat-option [value]="4"> Mayor precio </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div
      *ngIf="
        selectedCategory &&
        selectedCategory.subCategories &&
        selectedCategory.subCategories.length > 0
      "
      style="overflow-x: auto; overflow-y: hidden"
    >
      <div style="white-space: nowrap">
        <ng-container
          *ngFor="
            let subCategory of selectedCategory.subCategories;
            let i = index
          "
        >
          <div
            *ngIf="showSubCategory(i)"
            class="p-1"
            style="display: inline-block"
          >
            <button
              mat-flat-button
              color="accent"
              (click)="scrollTo('link' + i)"
              [ngClass]="{ subCategory: subCategory === 'link' + i }"
              style="border-radius: 15px"
            >
              {{ subCategory.description }}
            </button>
          </div>
        </ng-container>
      </div>
    </div>

    <div
      *ngIf="!selectedCategory && categories && categories.length > 0"
      style="overflow-x: auto; overflow-y: hidden"
    >
      <div style="white-space: nowrap">
        <ng-container *ngFor="let category of categories; let i = index">
          <div
            *ngIf="showSubCategory(i)"
            class="p-1"
            style="display: inline-block"
          >
            <button
              mat-flat-button
              color="accent"
              (click)="scrollTo('link' + i)"
              [ngClass]="{ category: category === 'link' + i }"
              style="border-radius: 15px"
            >
              {{ category.description }}
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <eu-category-catalog
    #categoryCatalog
    *ngIf="showCategory; else listProductCateg"
    (clickEvent)="onClickCategory($event)"
  ></eu-category-catalog>
  <ng-template #listProductCateg>
    <eu-product-catalog
      #productCatalog
      [categoryParent]="selectedCategory"
      [categories]="
        selectedCategory ? selectedCategory.subCategories : categories
      "
      [hasSubCategories]="selectedCategory ? true : false"
      (clickEvent)="onClickProduct($event)"
    ></eu-product-catalog>
  </ng-template>
</div>

<div
  *ngIf="order.products.length > 0"
  class="
    container-footer-btn
    w-100
    p-2
    d-flex
    flex-column
    align-items-center
    justify-content-center
    position-fixed
  "
  style="z-index: 4"
>
  <div class="col-xl-4 col-12 m-auto">
    <button
      class="
        btn btn-primary btn-rounded
        w-100
        d-flex
        flex-row
        justify-content-between
        align-items-center
      "
      (click)="showOrder()"
    >
      <span class="d-flex flex-row">
        <i class="mdi mdi-shopping" style="font-size: 17px"></i>
        <div
          class="
            badge badge-pill badge-counter-items
            d-flex
            align-items-center
            justify-content-center
          "
        >
          {{ order.products.length }}
        </div>
      </span>
      Ver mi pedido
      <span style="font-weight: normal"
        >${{ order.totalAmount.toFixed(2) }}</span
      >
    </button>
  </div>
</div>
