// Plus imports for other components in your app.
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@mdi/font/scss/materialdesignicons.scss';
@import './assets/scss/variables.scss';
@import './assets/scss/theming.scss';

html {
  font-family: 'Poppins' !important;
  color: $color-black;
  height: 100vh;
}

body {
  height: 100vh;
  font-family: 'Poppins' !important;
  color: $color-black;
  background-color: $color-light2;
}

div {
  color: $color-black;
}
h1,
h2,
h3,
h4,
h5 {
  color: $color-black;
}

i {
  font-size: 18px;
}
